/***
		BODY, HEADER, MAIN, FOOTER,
		ancres, listes des menus
									***/
* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	max-width: 1600px;
	max-height: 1400px;
	width: 100%;
	height: 100%;
	color: #252323;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* background-color: #b7bfc9; */
	background-color: #e8e9ed;
}

a {text-decoration: none;}
a:link {color: #282828;}
a:visited {color: #282828;}
a:hover {color: #282828;}

header,
main,
footer {
	margin: 0 150px;
	display: flex;
	flex-direction: column;
}

header ul,
footer ul,
nav {
	display: flex;
}

/**  HEADER  **/

/* navigation : contient logo et le container des menus */
nav {
	width: 100%;
	margin-top: 1.5em;
	justify-content: space-between;
	}
.logo {
	display: flex;
	align-items: end;
}
.logo strong {
	font-weight: 700;
	font-size: 2.6em;
}
.logo:hover strong {
	text-shadow: 5px 5px #cd7777;
	transition-duration: 300ms;
	transition-property: text-shadow;
}

 /*  Container des 2 menus, de navigation et des réseaux sociaux  */
.menus_container {
	display: flex;
	width: 1000px;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.main_menu {
	font-weight: 600;
	font-size: 1.2em;
}
.main_menu ul li {
	flex-shrink: 0;
	padding-right: 20px;
}
.main_menu ul li a:hover span {
	color: #e74b4b;
}

.social_header ul li {
	padding-left: 20px;
}
.social_header ul li img {
	width: 30px;
	border-radius: 50%;
}
.social_header ul li:hover img {
	background-color: #8de781;
}

/*  Section du HEADER avec les titres et le texte d'introduction  */
.section_intro {
	width: 100%;
	display: flex;
	margin: 170px auto 0 auto;
	flex-direction: column;
}
.titres_intro {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.div_h1,
.div_h2 {
	width: 100%;
}
.titres_intro h1,
.titres_intro h2 {
	font-weight: 700;
	text-align: center;
}
.titres_intro h1 {
	font-size: 3.8em;
}
.titres_intro h2 {
	font-size: 3.7em;
}

.text_intro {
	width: 100%;
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
}
.photo_profil {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.photo_profil img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.txt_btn {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div_p {
	width: 550px;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.txt_btn p {
	width: 450px;
	font-weight: 400;
	font-size: 1.7em;
	line-height: 1.4;
	text-align: justify;
}
.contact_button button {
	padding: 8px 13px;
	border: 2px solid #252323;
	box-shadow: 3px 4px #252323;
	background-color: #e8e9ed;
	text-align: center;
	font-size: 1.3em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact_button button:hover {
	background-color: #337ae4ea;
	color:#e8e9ed;
}


/** MAIN **/

section>h2>span {
	border-bottom: 5px solid #e74b4b;
}

main {
	margin-top: 120px;
	margin-bottom: 80px;
}

main>section {
	width: 100%;
	display: flex;
	flex-direction: column;
}

main>section:nth-child(1),
main>section:nth-child(2) {
	margin-bottom: 150px;
}

main h2 {
	font-weight: 700;
	font-size: 3em;
	/* border-bottom: 5px solid #282828; */
	margin-bottom: 45px;
}

.projects_container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.projects_container div img {
	width: 300px;
	height: 300px;
}

/** COMPTENCES **/

.progress_container {
	display: flex;
	justify-content: space-between;
}

.progress_bars,
.progress_items {
	display: flex;
	flex-direction: column;
}

.progress_bars {
	width: 40%;
}

.progress_items {
	font-size: 1em;
}

.progress_bars progress,
.progress_items p {
	width: 100%;
	margin-bottom: 15px;
}

/** CONTACT **/
form {
	padding-top: 50px;
}

.contact_fields {
	min-width: 250px;
	width: 35%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.nomprenom {
	display: flex;
	justify-content: space-between;
}

.nomprenom input {
	width: 50%;
}

/** Footer **/
footer ul{margin-bottom: 7px;}
footer ul li {
	padding-right: 10px;
}

footer ul li img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
footer ul li:hover img {
	background-color: #8de781;
}